<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>About</h3>
          <ul>
            <li><a href="#">Company</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>ALternovaShop</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus
            perferendis omnis consectetur eum! Numquam et modi vitae qui, itaque
            dicta deleniti veniam facilis, voluptate quo nostrum quas voluptatem
            aspernatur vero.
          </p>
        </div>
        <div class="col item social">
          <a href="#"><i class="bi bi-facebook"></i></a
          ><a href="#"><i class="bi bi-instagram"></i></a
          ><a href="#"><i class="bi bi-twitter"></i></a>
        </div>
      </div>
      <p class="copyright">AlternovaShop © 2023</p>
    </div>
  </footer>
</div>
