<div class="table-responsive">
  <table class="table" aria-describedby="">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit price</th>
        <th scope="col">Total price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; index">
        <td class="text-capitalize">{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.product.unit_price }}</td>
        <td>{{ item.total_price }}</td>
      </tr>
    </tbody>
  </table>
</div>
